---
const { title } = Astro.props;
---

<section>
  <header>
    <h2>
      <a href="#0">{title}</a>
    </h2>
  </header>
  <ul class="grid-container">
    <slot />
  </ul>
</section>

<style>
  section {
    display: grid;
    
    gap: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  header > a {
    font-size: var(--font-size-small);
    font-weight: 500;
  }

  h2 a {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    /* hide wrapping rows 
    grid-template-rows: min-content;
    grid-auto-rows: auto;
    gap: 0 var(--space-lg);
    overflow: hidden;*/
  }
</style>
